   
   .main{
  
   overflow:hidden;
        
        margin: 0px;
        padding: 0px;
		
   }
   #map-canvas,#main-canvas{
	  overflow:hidden;
        height: 800px;
        margin: 0px;
        padding: 0px;
			border-bottom: 2px solid red;
      }
	  header{
	   position: relative;
	padding: 10px;
	background: #ccc;
	border-bottom: 2px solid red;
	 
}
 
	  /*horizontal ==========================================================*/

#horizontal {
	
	 
}
#horizontal ul {
	list-style-type:none;
	width:920px;
	margin: 0  auto;
	 
	  
	  }
#horizontal ul li {
	text-align:center;
	border:5px outset #ddf;
	 width: 120px;
	 float: left;
	position: relative;
}
#horizontal li ul {
	display: none;
	margin:0;
	padding: 0;
}
#horizontal li:hover ul{
	display:block;
	position:absolute;
	left: -5px;
	top: 35px;
	z-index:40;
	 
	 
	 
	 
}
#horizontal li:hover ul li {
	float:none;
}
#horizontal ul li a {	
	text-decoration:none;
	background-color: tan;
	color:#191970;
	display:block;
	line-height: 30px;
	height: 30px;
}
	
	
#horizontal  a:active {
	border: 5px inset #000000;
}
#horizontal  a:hover {
	 color: #fff;
	background-color: #191970;

}
 /*horizontal ==========================================================*/
.clearfix{
	clear:both;	
}
header h1{
	text-align:center;
	color:black;
}
 /*==========================================================*/
 .foot{
 min-height:100px;
 background:#ccc;
 }
  
 #btn{
      width:95%;
	    
	  margin:3px;
       z-index: 5;
        background-color: #ccc;
        padding: 3px;
        border: 1px solid #999;

 }
 #search{
 width:90%;
 margin:3px;
 }
 #button{
 margin:3px;
	width:90%;
 }
 #mapForm{
  position: relative;
 }
 #upload{
    background:#ccc;
    background:rgba(255,255,255,0.5);
	 
    width:35%;
    outline:1px solid black;
    position:absolute;
	   top: 9%;
	     left: 6%;
		 padding:5px;
		 margin:15px;
 }
 #upload  input{
  padding:1px;
  margin:5px;
 }
 #maph2{
	background:#ccc;
 z-index: 6;
	 position:absolute;
	   top: 1%;
	     right: 5%;
		 padding:5px;
 }
 #regh2 {
	text-align:center;
 }
 #loginh2{
	background:#ccc;
 z-index: 6;
	 position:absolute;
	   top: 1%;
	     left: 15%;
		 padding:5px;
 }
 #register{
 width: 50%;
outline: 1px solid black;
margin: 5px auto;
padding: 15px;
 }
 
 #register label{
 width: 20%;
	text-align:right;
	display:inline-block; 
 }
 
#register input{
	margin: 5px;
}